h1{
  text-align: center;
  margin-top: 3%;
  font-size: 2rem;
  font-family:'Kaushan Script', cursive;
    }

h2{

  margin-top: 10px;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

li{ 
    margin-top: 10px;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 1px 0;
    margin-bottom: 10px;
    vertical-align: middle;
}

.logo  {
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

li img{
    width:70px;
    height:70px;
    display: inline-block;
    margin-bottom: 10px;
}

.search {
       margin-top: 10px;
       text-align: center;
       margin-left: 0 auto;
       margin-right: 0 auto;
}

.allpic {
   height: 100px;
   position: relative;
   width:800px;
   min-height: 1000px;
   border:1px solid black;
   margin-left:auto;
   margin-right: auto;
   overflow: auto;
}

.displaypic{
  float:left;
  text-align: center;
}

.userpost {
    width:200px;
    height:200px;
    margin-bottom:100px;

  }